<div class="page-header">

    <div class="row header">
        <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary" ng-click="newTask()">New Task</button>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <uib-accordion close-others="false">
                <uib-accordion-group ng-repeat="task in tasks track by $index" heading="{{task.title}}">
                    <p>{{task.description}}</p>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>
