<div class="page-header">

    <div class="row header">
        <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary" ng-click="newTask()">New Task</button>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <uib-accordion close-others="false">
                <uib-accordion-group ng-repeat="task in tasks track by $index" heading="{{task.title}}" ng-click="getSubTasks($index, task.id)">
                    <button class="btn btn-primary" ng-click="newSubTask($index, task.id)">Add sub tasks</button>
                    <p>{{task.description}}</p>

                    <ul>
                        <li ng-repeat="subtask in task.subtasks track by $index">
                            {{subtask.title}}
                        </li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newTaskModal.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">New Task</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" ng-model="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="description"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="newSubTaskModal.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">New Task</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" ng-model="title" placeholder="Title">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>




